<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
    <h1 class="text-center mb-4">Create your SCENIC rental!</h1>
    <div class="container text-center col-md-4">
        <div class="row">
            <div class="form">

                <form action="/rentals/create" method="post">
                
                <input name='user_id' type="hidden" value="{{user.id}}">
                
                <div class="input-group mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Name of your rental" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <textarea class="form-control" name="description" placeholder="Describe your rental"></textarea>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm-8">
                    <input class="form-control" name="city"placeholder="City" type="text">
                    </div>
                    <div class="col-sm">
                    <select class="form-select" name="state" type="text">
                        <option selected>Select State</option>
                        <option value=1>AL</option>
                        <option value=2>AK</option>
                        <option value=3>AZ</option>
                        <option value=4>AR</option>
                        <option value=5>CA</option>
                        <option value=6>CZ</option>
                        <option value=7>CO</option>
                        <option value=8>CT</option>
                        <option value=9>DE</option>
                        <option value=10>DC</option>
                        <option value=11>FL</option>
                        <option value=12>GA</option>
                        <option value=13>GU</option>
                        <option value=14>HI</option>
                        <option value=15>ID</option>
                        <option value=16>IL</option>
                        <option value=17>IN</option>
                        <option value=18>IA</option>
                        <option value=19>KS</option>
                        <option value=20>KY</option>
                        <option value=21>LA</option>
                        <option value=22>ME</option>
                        <option value=23>MD</option>
                        <option value=24>MA</option>
                        <option value=25>MI</option>
                        <option value=26>MN</option>
                        <option value=27>MS</option>
                        <option value=28>MO</option>
                        <option value=29>MT</option>
                        <option value=30>NE</option>
                        <option value=31>NV</option>
                        <option value=32>NH</option>
                        <option value=33>NJ</option>
                        <option value=34>NM</option>
                        <option value=35>NY</option>
                        <option value=36>NC</option>
                        <option value=37>ND</option>
                        <option value=38>OH</option>
                        <option value=39>OK</option>
                        <option value=40>OR</option>
                        <option value=41>PA</option>
                        <option value=42>PR</option>
                        <option value=43>RI</option>
                        <option value=44>SC</option>
                        <option value=45>SD</option>
                        <option value=46>TN</option>
                        <option value=47>TX</option>
                        <option value=48>UT</option>
                        <option value=49>VT</option>
                        <option value=50>VI</option>
                        <option value=51>VA</option>
                        <option value=52>WA</option>
                        <option value=53>WV</option>
                        <option value=54>WI</option>
                        <option value=55>WY</option>
                    </div>
                </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" name="rate"class="form-control">
                        <span class="input-group-text">per night</span>
                    </div>
                <div class="col-sm-4">
                    <input class="form-control" name ="beds" placeholder="# of beds" type="text">
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="amenity_1" class="form-control" placeholder="Amenities i.e., Kitchen, Pool" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="amenity_2" class="form-control" placeholder="Amenities i.e., Kitchen, Pool" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="image" placeholder="Add an image" id="inputGroupFile02">
                </div>
                <input type="submit" value="Create" class="btn btn-success">
            </form>
            </div>
        </div>
    </div>
</body>
</html>
