<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>View One</title>
</head>
<body>
    <div class="container text-center">

        <div class="row mb-4">
            <div class="col-md-4"><h1>{{rental.name}}</h1></div>
            <div class="col-md-4 offset-md-3">
                <a href="/edit/{{rental.id}}" class="btn btn-info" role="button">Update</a>
            </div>
        </div>

        <div class="main" style="height: 500px; width:auto">
            <div class="image col-6">
            <img class="mw-50" src="{{rental.image}}" alt="home1" >
            </div>

            <div class="details">
                <p>Desc: {{rental.description}}</p>
                <p>City: {{rental.city}}, State: {{rental.state}}</p>
                <p>Rate: {{rental.rate}} Beds: {{rental.rate}}</p>
                <p>{{rental.user_id}}</p>
            </div>

        </div>
        <div class="bot text-center">
            <div class="row">
                <div class="amenities col-md-4">
                    <p>Here are the amenities</p>
                    <p>amenity: {{rental.amenity_1}} amenity2: {{rental.amenity_2}}</p>
                </div>
                <div class="btn-box col-md-4 offset-md-4">
                    <form action="/rentals/{{rental.id}}/delete" method="POST">
                        <input type="hidden" name="id" value="{{rental.id}}">
                        <button type="submit" class="btn btn-danger rounded">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
