.icon{
    width: 20px;
    height: 20px;
}
.main{
    width: auto;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.subs{
    display: flex;
    flex-direction: column;

}
.picframe{
    width: 300px;
    height: 300px;
    border: 1px black solid;
}
.iconbox{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px black solid;

}
.info{
    font-size: x-small;
}